<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>FIDICbot</title>
<link rel="shortcut icon" href="http://www.fidic.tips/fidicbot.ico" />

<meta name="description" content="FIDICbot is a chatbot giving access to the FIDIC contracts and their upcoming events. On the web (fidic.pw) and @FIDICbot on Messenger and Telegram, and @ovs8540y on LINE." />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://fidic.tips/chatbot/" />
        <meta property="og:title" content="FIDICbot" />
        <meta property="og:description" content="FIDICbot is developed and managed by Bricad.online, part of Bricad Associates Sàrl, Switzerland." />
<body>
<iframe src='https://webchat.botframework.com/embed/fidicbot?s=-YpYjT6h-Fc.i0L6UtGrvefF3GEE4shkqYptImnT5vQ1Qk_0bjiAUyU' style="background-color: white; height: 502px; max-height: 502px;"></iframe>
</body>
</html>
